<% include partials/dash_header %>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 ml-auto  ">
        <div class="row bg-warning p-3 mt-4">
          
          <!-- payment and delivery partners-->
          <div class="col-md-6 mt-3">
            <%- messages('message', locals) %>
            <% if (errors) { %>
              <% errors.forEach(function (error) { %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                  </button>
                  <strong><%= error.msg %></strong> You should check in on the fields below.
                </div>
             <% }) %>
            <% } %>
            <H6>UPDATE YOUR INFORMATION</H6>
            <form method="POST" action="/dashboard/<%= collection.name %>/<%= collection._id %>">
              <div class="input-group">
                <input class="form-control" type="text" name="value" placeholder="Value..." aria-label="Recipient's " aria-describedby="my-addon" value="<%= collection.value %> ">
                <input class="form-control" type="text" name="url" placeholder="URI..." aria-label="Recipient's " aria-describedby="my-addon" value="<%= collection.url %> ">
                <div class="input-group-append">
                  <button class="btn btn-primary" id="my-addon">Add</button>
                </div>
              </div>
            </form>

          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>

<% include partials/dash_footer %>
